/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans;" sans-sarif;
	background-color: lightblue;
}


nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	background-color: blue;
	color: white;
	text-align: right;
}

footer {
	padding: 0.7rem;
}

.menu {
	width: 100px;
}

/*id selector*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;

}

#info-section {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2 rem;
}

#pre-footer {
	padding: 1rem;
	background-color: blue;
	color: white;
}

/*combinator selector*/
nav > ul {
	list-style-type: none;
}

/*multuple selector*/
nav .nav, .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: blue;
	border-radius: 5px;
	font-size: 5 rem;
	padding: 5 rem;
}

#info-section h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#info-section h3 {
	text-align: center;
	margin-bottom: 1rem;
	background-color: blue;
}

#info-section .menu {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 23%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-transform: uppercase;
	text-align: center;
}


img {
    border: 1px solid #ddd;
	border-radius: 50%;
 	padding: 5px;
  	width: 150px;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}


footer span  {
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}

